. { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    background: url('assets/images/fondoPeliculas.jpg') no-repeat center center/cover;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/*nav-bar*/

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;   
    
}
.nav-brand {
    width: 125px;
}

/* nav left */

.nav-main ul {
    display: flex;
    font-family: Helvetica;
}
.nav-main ul.nav-menu {
    flex:content;    
} 
.nav-main ul.nav-menu a.inicio {
    font-weight: bold;
} 
.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 2px;
}

.nav-main ul.nav-menu li a:hover {
    border-bottom: 2px solid red;
}

/* nav right*/

.nav-main ul.nav-menu-right li a {
    padding: 5px
}

/* button nav */

.media-menu {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 20px;
    
}

/* center options*/

.center-options {
    width: 100%;    
    height: 200px;
    margin-top: 140px;
}

.center-brand {
    width: 80px;
    margin-left: 13px;
}

.play-menu {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.play-menu ul {
    display: flex;
    font-family: Helvetica;
    align-items:center;

}
.play-menu ul.nav-play {
    padding-left: initial;
        
}
.play-menu ul li {
    padding: 10px;
}

.play-menu ul.nav-play li a {
    padding: 7px;
    background-color: rgba(109, 109, 110, 0.7);
    border: 0px;
    border-radius: 4px;
    opacity: 1;
    font-weight: bold;
    font-size: 15px;
} 
.play-menu ul.nav-play li a:hover {
    background-color: rgba(181, 181, 187, 0.7);
}

/* center right options */

.play-menu ul.nav-play-right {
    
}

.play-menu ul.nav-play-right li {
    padding: 5px
}
.play-menu ul.nav-play-right li a {
    font-size: 18px;

}
.play-menu ul.nav-play-right li a p {
    border: solid 3px #dcdcdc;
    border-style: none none none solid;
    background-color: rgba(51,51,51,.6);
    padding-right: 20px;
    padding-left: 5px;
}

/* carousel */

.carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.carousel img {
    width: 100%;
    height: 180px;
}

@media (max-width: 700px){

    .media-menu {
        display:;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #626b77;
        opacity: .9;
        transform: translateX(-400px);
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .carousel {
        grid-template-columns: repeat(2, 1fr);
    }

}


